.head-wrap {
  height: 13.75rem;
  padding: 3rem .625rem 0;
  color: #fff;
  background: url('@commonImg/head-bg.png') no-repeat 50% / cover;

  .head-name {
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.5rem;
  }
  
}
