.banner-wrap {
  height: 13.75rem;
  color: #fff;
  background: url('@homeImg/banner-top.png') no-repeat 50% / cover;

  .banner-name {
    padding-top: 3.3125rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: center;
  }

  .search-wrap {
    padding: .5rem .625rem .625rem;
  }

  .location {
    font-size: .75rem;
    line-height: 1.0625rem;
  }

  .weather {
    font-family: SourceHanSansCN, SourceHanSansCN;
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.6);
    line-height: .6875rem;
  }

  .arrow {
    width: .6875rem;
    height: .625rem;
    margin: .25rem 0 0 .3125rem;

  }

  .search {
    flex: 1;
    position: relative;
    margin: 0 6px 0 4px;
    // padding: 0 .45rem 0 .8rem;
    height: 2.25rem;
    font-size: .78rem;
    color: rgba(0, 0, 0, 0.85);
    z-index: 2;
    // background: url('@homeImg/search-bg.png') no-repeat;
    .search-bg{
      width: 100%;
      height: 36px;
    }
    .search-cont{
      position: absolute;
      top: .3125rem;
      width: 94%;
      left: .6875rem;
    }

    .search-icon {
      width: .85rem;
      height: .85rem;
      margin-right: .4375rem;
    }

    .search-btn {
      width: 3.1rem;
      height: 1.55rem;
      line-height: 1.55rem;
      text-align: center;
      font-size: .7875rem;
      color: #FFF3DE;
      background: linear-gradient(270deg, #006EF6 0%, #006FF6 100%);
      box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.05);
      border-radius: 1.125rem;
    }
  }

  .add-icon {
    width: 1.375rem;
    height: 1.375rem;
  }

  .banner-list {
    padding: 0 1.1875rem .625rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;

    .banner-icon {
      width: 2.125rem;
      height: 2.125rem;
      margin-bottom: .3125rem;
      vertical-align: bottom;
    }
  }
}

.content-wrap {
  position: relative;
  width: 100%;
  margin-top: -1.25rem;
  padding: 0.625rem 0.625rem 3.75rem ;
  z-index: 1;
  border-radius: 20px 20px 0 0;
  background: #EEF2F9 url(/src/assets/homeImg/home-bg.png) no-repeat center 100% / cover;

  .type-bg {
    width: 100%;
    height: 39.3125rem;
  }

  .type-list {
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
  }

  .type-item {
    width: 25%;
    text-align: center;
    border-right: .0625rem solid #fff;

    &:last-child {
      border-right: none;
    }
  }

  .item-wrap {
    padding: .5rem 0 .3rem;
    font-size: .8125rem;
    color: #fff;
    border-bottom: .0625rem solid #fff;
  }

  .item-icon {
    width: 1.8125rem;
    height: 1.75rem;
    vertical-align: bottom;
  }

  .sub-name {
    color: rgba(0, 0, 0, 0.85);
  }

  .focus-img {
    width: 101.8%;
    height: 9.8125rem;
    margin: 0 -3px;
  }

  .tab-list {
    margin: .375rem 0 .6875rem;
  }

  .tab-item {
    position: relative;
    width: 100%;
    margin-right: .625rem;
    padding: 1rem 0 .9375rem .8125rem;
    height: 6.875rem;

    &:last-child {
      margin-right: 0;
    }

    .tab-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .tab-name {
      margin-bottom: 1.0625rem;
      font-family: DingTalk, DingTalk;
      font-size: 12px;
      font-style: italic;
      font-weight: 600;
      letter-spacing: .07rem;
      color: rgba(0, 0, 0, 0.85);
    }

    .tab-num {
      margin: 1.0625rem 0 .8rem;
      font-size: .8rem;
      color: rgba(0, 0, 0, 0.85);
      font-family: SourceHanSansCN, SourceHanSansCN;
    }

    .tab-btn {
      width: 2.725rem;
      height: 1.3rem;
      line-height: 1.4rem;
      font-size: .625rem;
      color: #FFFFFF;
      text-align: center;
      border-radius: .625rem;
    }
  }

  .title-wrap {
    display: flex;
    align-items: flex-end;
    margin-bottom: .25rem;

  }

  .title-icon {
    width: 1rem;
    height: 1rem;
    margin-bottom: .125rem;
  }

  .title {
    margin: 0 .3125rem 0 .4375rem;
    font-family: REEJI-ZhenyanGB20;
    font-weight: bold;
    font-size: 1.0625rem;
    color: rgba(0, 0, 0, 0.85);
  }

  .sub-title {
    font-family: PingFangSC, PingFang SC;
    font-weight: 300;
    font-size: .625rem;
    color: #0169F6;
    letter-spacing: .125rem;
  }

  .event-item {
    margin-top: .5rem;
    padding: .9375rem .625rem;
    border-radius: .375rem;
    background: #fff;
  }

  .event-name {
    font-weight: bold;
    font-size: .9375rem;
    line-height: 1.3125rem;
    letter-spacing: .0625rem;
    color: rgba(0, 0, 0, 0.85);
  }

  .event-type {
    width: 5rem;
    margin-top: 0.5rem;
    color: #b3b0b0;
    font-size: .75rem;
  }

  .event-icon {
    width: .75rem;
    height: .75rem;
    margin-right: .1875rem;
  }

  .event-img {
    width: 8.625rem;
    height: 5rem;
    margin-left: .3125rem;
  }
}
