.detail-wrap {


  .head-wrap {
    height: 10.875rem;
    margin-bottom: -5.5rem;
    padding: 3rem .625rem 1.0625rem;
    color: #fff;
    background: url('@commonImg/head-bg.png') no-repeat 50% / cover;
  }

  .left-arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  .head-name {
    margin-left: 3.5625rem;
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.5rem;
  }

  .share-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .9375rem;
  }
}

.content-wrap {
  padding: .625rem .625rem;
  background: #EEF2F9;
  
  .merchant-item{
    margin-bottom: .5rem;
    padding: .625rem .6875rem;
border-radius: .5rem;
background: #FFF;
  }

 
}
