.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

.d-flex-i-cent {
  display: flex;
  align-items: center;
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
}

.d-flex-bet {
  display: flex;
  justify-content: space-between;
}

.d-flex-bet-cent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-cent-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-around-cent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ellipsis-one {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-tow {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-three {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
}