.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

.d-flex-i-cent {
  display: flex;
  align-items: center;
}

.d-flex-around {
  display: flex;
  justify-content: space-around;
}

.d-flex-bet {
  display: flex;
  justify-content: space-between;
}

.d-flex-bet-cent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-cent-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-around-cent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ellipsis-one {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-tow {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-three {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

// 底部tabbar

.tabbar-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.0625rem;
  padding: 0 1.5rem;
  background: #FFFFFF;
  box-shadow: 0 .25rem .25rem .1875rem rgba(0, 0, 0, 0.11);
  z-index: 2;
}

.round {
  position: fixed;
  left: 43%;
  bottom: 6px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 46%;
  box-shadow: 0 0.25rem 0.25rem 0.1875rem rgba(0, 0, 0, 0.11);
}

.tabbar-item {
  padding: .625rem 0 .25rem;

  p {
    font-weight: 400;
    font-size: .625rem;
    color: #5F5F5F;
    text-align: center;
  }

  &.active {
    color: #0B8BF6;
  }

  img {
    width: 1.375rem;
    height: 1.375rem;
  }
}

.tabbar-add {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -3px;
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    top: -8px;
  }

  img {
    position: relative;
    width: 2.5625rem;
    height: 2.5625rem;
    z-index: 5;
  }
}