.publish-wrap {
  height: 10.875rem;
  background: url('@commonImg/head-bg.png') no-repeat 50% / cover;

  .head-wrap {
    padding: 3rem .625rem 1.0625rem;
    color: #fff;
  }

  .left-arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  .head-name {
    margin-left: calc(50% - 3rem);
    font-weight: normal;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.5rem;
  }

  .form-wrap {
    width: 100%;
    height: 100%;
    background: rgba(238, 242, 249, 1);
  }

  .form-item {
    padding: 1.125rem 1rem;
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.12);
    background: #fff;

    &:first-child {
      border-bottom: .625rem solid rgba(238, 242, 249, 1);
    }
  }

  .required-icon {
    width: .5rem;
    height: .5rem;
    margin-left: -5px;
  }

  .add-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .img-item {
    width: 3.5rem;
    height: 3.5rem;
    margin: .9375rem .98rem 0 0;
    border-radius: .3125rem;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}